[user]
	name = alireza-es
	email = alireza.es@gmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	syntax-theme = Nord

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current

[fetch]
	prune = true

[rebase]
	autoStash = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[alias]
	st = status
	co = checkout
	br = branch
	cm = commit -m
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
